In [32]:
import pandas as pd
import random


df = pd.read_csv("datasets/medata_solicitudes_de_credito_analizadas.csv", sep=";")
df_sample1 = df.sample(frac=0.05)
df_sample2 = df.sample(frac=0.01)
df_sample3 = df.sample(frac=0.01)
df_sample4 = df.sample(frac=0.01)
df_sample2['tipo_de_emprendimiento'] = pd.NA
df_sample3['barrio'] = pd.NA
df_sample4['linea_credito'] = pd.NA

df = pd.concat([df, df_sample1, df_sample2, df_sample3])
df = df.sample(frac=1).reset_index(drop=True)

for col in ['sexo', 'tipo_de_emprendimiento', 'idea_negocio', 'barrio', 'línea_credito']:
    sample = random.sample(range(0, 11145), random.randint(100, 500))
    df.loc[sample, col] = df.loc[sample, col].str.upper()
    
    sample = random.sample(range(0, 11145), random.randint(100, 500))
    df.loc[sample, col] = df.loc[sample, col].str.title()
    
    sample = random.sample(range(0, 11145), random.randint(100, 500))
    df.loc[sample, col] = df.loc[sample, col].str.replace(' ', '-')
    
    sample = random.sample(range(0, 11145), random.randint(100, 500))
    df.loc[sample, col] = df.loc[sample, col].str.replace(' ', '_')
    
    
sample = random.sample(range(0, 11145), random.randint(300, 580))
df.loc[sample, 'estrato'] = df.loc[sample, 'estrato'].map(lambda x: '0' + str(x))


sample = random.sample(range(0, 11145), random.randint(150, 400))
df.loc[sample, 'fecha_de_beneficio'] = df.loc[sample, 'fecha_de_beneficio'].map(lambda x: x[-4:] + "/" + x[-7:-5] + '/' + x[-len(x):-8])

sample = random.sample(range(0, 11145), random.randint(100, 500))
df.loc[sample, 'monto_del_credito'] = df.loc[sample, 'monto_del_credito'].map(lambda x: '$ {:0,.2f}'.format(x))




df.to_csv('datasets/clean_solicitudes_de_credito_analizadas.csv', sep=";")

In [15]:
df.sort_values('fecha_de_beneficio')

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
7564,femenino,industria,panaderia,san javier no.1,3,13.0,1/02/2016,10000000,juridica y cap.semilla
5694,femenino,comercio,comidas_rapidas,vrda. san cristobal,3,60.0,1/02/2016,1100000,microempresarial
6074,femenino,servicio,peluqueria,vrda. san cristobal,1,60.0,1/02/2016,2500000,microempresarial
7742,femenino,industria,fabrica de,aranjuez,2,NaN,1/02/2016,6890000,microempresarial
9518,Femenino,<NA>,comidas rapidas,VRDA. SAN CRISTOBAL,3,60.0,1/02/2016,1100000,Microempresarial
...,...,...,...,...,...,...,...,...,...
2053,femenino,servicio,peluqueria,villa del socorro,2,2.0,9/11/2018,4000000,microempresarial
9313,femenino,comercio,variedades,san javier no.1,2,7.0,9/11/2018,3000000,microempresarial
5068,femenino,servicio,peluqueria,robledo,3,7.0,9/11/2018,3000000,microempresarial
5841,masculino,comercio,miscelanea,campo valdes no. 1,3,4.0,9/11/2018,5000000,microempresarial
65,femenino,comercio,variedades,manrique central no. 1,2,4.0,9/11/2018,2000000,microempresarial